In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
data = pd.read_csv('Live.csv')

In [30]:
df = pd.DataFrame(data)

In [31]:
df

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,Column1,Column2,Column3,Column4
0,246675545449582_1649696485147474,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0,NaN,NaN,NaN,NaN
1,246675545449582_1649426988507757,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0,NaN,NaN,NaN,NaN
2,246675545449582_1648730588577397,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0,NaN,NaN,NaN,NaN
3,246675545449582_1648576705259452,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0,NaN,NaN,NaN,NaN
4,246675545449582_1645700502213739,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,1050855161656896_1061863470556065,photo,9/24/2016 2:58,89,0,0,89,0,0,0,0,0,NaN,NaN,NaN,NaN
7046,1050855161656896_1061334757275603,photo,9/23/2016 11:19,16,0,0,14,1,0,1,0,0,NaN,NaN,NaN,NaN
7047,1050855161656896_1060126464063099,photo,9/21/2016 23:03,2,0,0,1,1,0,0,0,0,NaN,NaN,NaN,NaN
7048,1050855161656896_1058663487542730,photo,9/20/2016 0:43,351,12,22,349,2,0,0,0,0,NaN,NaN,NaN,NaN
7049,1050855161656896_1050858841656528,photo,9/10/2016 10:30,17,0,0,17,0,0,0,0,0,NaN,NaN,NaN,NaN

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         7050 non-null   object
 1   status_type       7050 non-null   object
 2   status_published  7050 non-null   object
 3   num_reactions     7050 non-null   int64
 4   num_comments      7050 non-null   int64
 5   num_shares        7050 non-null   int64
 6   num_likes         7050 non-null   int64
 7   num_loves         7050 non-null   int64
 8   num_wows          7050 non-null   int64
 9   num_hahas         7050 non-null   int64
 10  num_sads          7050 non-null   int64
 11  num_angrys        7050 non-null   int64
 12  Column1           0 non-null      float64
 13  Column2           0 non-null      float64
 14  Column3           0 non-null      float64
 15  Column4           0 non-null      float64
dtypes: float64(4), int64(9), object(3)
memory usage: 881.4+ KB

In [33]:
df.drop(['Column1', 'Column2', 'Column3', 'Column4'], axis=1, inplace=True)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         7050 non-null   object
 1   status_type       7050 non-null   object
 2   status_published  7050 non-null   object
 3   num_reactions     7050 non-null   int64
 4   num_comments      7050 non-null   int64
 5   num_shares        7050 non-null   int64
 6   num_likes         7050 non-null   int64
 7   num_loves         7050 non-null   int64
 8   num_wows          7050 non-null   int64
 9   num_hahas         7050 non-null   int64
 10  num_sads          7050 non-null   int64
 11  num_angrys        7050 non-null   int64
dtypes: int64(9), object(3)
memory usage: 661.1+ KB

In [35]:
duplicate_rows_df=df[df.duplicated()]

In [36]:
duplicate_rows_df

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
6221,819700534875473_1002372733274918,video,6/10/2018 3:43,376,20,3,354,19,3,0,0,0
6222,819700534875473_1001982519980606,photo,6/9/2018 22:53,255,7,4,249,6,0,0,0,0
6223,819700534875473_1000607730118085,photo,6/7/2018 7:01,1704,21,3,1685,15,2,2,0,0
6224,819700534875473_999880033524188,status,6/6/2018 2:20,205,39,4,197,4,4,0,0,0
6225,819700534875473_998824716963053,photo,6/4/2018 6:57,336,42,2,285,5,0,0,46,0
6226,819700534875473_997075427137982,status,6/1/2018 0:35,111,2,1,110,1,0,0,0,0
6227,819700534875473_995933077252217,photo,5/30/2018 6:33,357,18,9,352,3,1,1,0,0
6228,819700534875473_995839410594917,photo,5/30/2018 2:39,114,7,0,109,3,2,0,0,0
6229,819700534875473_995218893990302,status,5/29/2018 4:39,133,7,1,127,6,0,0,0,0
6230,819700534875473_993975437447981,photo,5/27/2018 1:31,532,32,4,480,47,5,0,0,0
6231,819700534875473_993602007485324,status,5/26/2018 8:08,231,16,2,216,3,0,0,12,0
6232,819700534875473_993049450873913,photo,5/25/2018 7:56,684,38,14,676,7,0,1,0,0
6233,819700534875473_991757311003127,photo,5/23/2018 1:10,1627,30,3,1607,17,3,0,0,0
6234,819700534875473_990066331172225,photo,5/20/2018 6:18,791,34,2,770,16,5,0,0,0
6235,819700534875473_988583821320476,photo,5/17/2018 20:00,1404,39,5,1390,12,1,1,0,0
6236,819700534875473_985229911655867,photo,5/12/2018 1:57,824,106,6,810,10,4,0,0,0
6237,819700534875473_984750728370452,status,5/11/2018 3:23,295,18,0,288,4,0,0,3,0
6238,819700534875473_983794271799431,photo,5/9/2018 8:45,1957,124,10,1908,27,21,1,0,0
6239,819700534875473_981835315328660,photo,5/5/2018 11:20,1730,161,4,1710,12,8,0,0,0
6240,819700534875473_980941638751361,photo,5/3/2018 23:57,1655,47,4,1632,9,13,1,0,0
6241,819700534875473_978746665637525,status,4/30/2018 6:20,237,67,1,233,3,1,0,0,0
6242,819700534875473_977201195792072,photo,4/27/2018 23:27,360,22,10,347,2,5,0,6,0
6243,819700534875473_976401089205416,photo,4/26/2018 19:00,2635,308,11,2605,19,11,0,0,0
6244,819700534875473_974461939399331,photo,4/23/2018 7:26,324,45,3,280,0,17,1,19,7
6245,819700534875473_972433889602136,photo,4/20/2018 3:16,1271,94,9,1249,11,8,2,1,0
6246,819700534875473_971940472984811,photo,4/19/2018 7:05,851,100,11,834,5,10,2,0,0
6247,819700534875473_968264653352393,photo,4/12/2018 3:42,1992,36,1,1969,16,7,0,0,0
6248,819700534875473_967787160066809,photo,4/11/2018 3:43,4315,24,3,4241,51,19,4,0,0
6249,819700534875473_966878030157722,photo,4/9/2018 10:49,4114,104,3,4054,36,23,0,1,0
6250,819700534875473_966629653515893,photo,4/8/2018 22:50,95,3,2,90,2,3,0,0,0
6251,819700534875473_966156923563166,photo,4/8/2018 1:08,111,9,2,107,1,2,1,0,0
6252,819700534875473_965614580284067,photo,4/7/2018 3:23,796,143,9,791,5,0,0,0,0
6253,819700534875473_965407870304738,photo,4/6/2018 16:34,508,12,3,499,8,0,1,0,0
6254,819700534875473_964582740387251,photo,4/5/2018 10:47,2506,287,28,2483,9,12,2,0,0
6255,819700534875473_963754250470100,photo,4/4/2018 2:20,251,29,5,228,0,3,0,1,19
6256,819700534875473_962799373898921,photo,4/2/2018 10:16,1244,218,9,1226,5,12,1,0,0
6257,819700534875473_962694150576110,photo,4/2/2018 7:33,75,2,0,71,3,0,1,0,0
6258,819700534875473_962061653972693,photo,4/1/2018 5:47,867,90,11,858,1,7,0,0,1
6259,819700534875473_962032993975559,photo,4/1/2018 4:32,87,5,2,79,3,5,0,0,0
6260,819700534875473_960466324132226,photo,3/29/2018 13:54,614,78,15,599,7,8,0,0,0
6261,819700534875473_960320564146802,photo,3/29/2018 8:23,2420,75,17,2392,20,8,0,0,0
6262,819700534875473_958291217683070,photo,3/26/2018 1:57,86,5,3,80,2,4,0,0,0
6263,819700534875473_957697307742461,photo,3/25/2018 4:43,488,20,8,484,4,0,0,0,0
6264,819700534875473_957599447752247,photo,3/24/2018 23:51,157,16,3,145,1,11,0,0,0
6265,819700534875473_956769714501887,photo,3/23/2018 15:53,547,71,7,535,6,6,0,0,0
6266,819700534875473_955793427932849,photo,3/22/2018 6:10,1168,104,49,1133,17,17,1,0,0
6267,819700534875473_955743124604546,photo,3/22/2018 3:48,879,165,18,867,4,8,0,0,0
6268,819700534875473_955149101330615,photo,3/21/2018 1:15,114,6,1,108,3,3,0,0,0
6269,819700534875473_954387151406810,photo,3/20/2018 1:54,186,15,1,172,3,11,0,0,0
6270,819700534875473_953048221540703,photo,3/18/2018 4:28,1985,39,21,1961,11,12,0,1,0
6271,819700534875473_951614605017398,photo,3/16/2018 1:57,985,71,42,962,5,16,2,0,0

In [41]:
df[df.duplicated()].shape

(0, 12)

In [40]:
df.drop_duplicates(inplace=True)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6999 entries, 0 to 7049
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         6999 non-null   object
 1   status_type       6999 non-null   object
 2   status_published  6999 non-null   object
 3   num_reactions     6999 non-null   int64
 4   num_comments      6999 non-null   int64
 5   num_shares        6999 non-null   int64
 6   num_likes         6999 non-null   int64
 7   num_loves         6999 non-null   int64
 8   num_wows          6999 non-null   int64
 9   num_hahas         6999 non-null   int64
 10  num_sads          6999 non-null   int64
 11  num_angrys        6999 non-null   int64
dtypes: int64(9), object(3)
memory usage: 710.8+ KB

In [43]:
df.drop(['status_id', 'status_published'], axis=1, inplace=True)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6999 entries, 0 to 7049
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   status_type    6999 non-null   object
 1   num_reactions  6999 non-null   int64
 2   num_comments   6999 non-null   int64
 3   num_shares     6999 non-null   int64
 4   num_likes      6999 non-null   int64
 5   num_loves      6999 non-null   int64
 6   num_wows       6999 non-null   int64
 7   num_hahas      6999 non-null   int64
 8   num_sads       6999 non-null   int64
 9   num_angrys     6999 non-null   int64
dtypes: int64(9), object(1)
memory usage: 601.5+ KB

In [45]:
x = df
y = df['status_type']

In [46]:
y

0       video
1       photo
2       video
3       photo
4       photo
        ...
7045    photo
7046    photo
7047    photo
7048    photo
7049    photo
Name: status_type, Length: 6999, dtype: object

In [ ]:
y.value_counts() #clustering on these four

status_type
photo     4244
video     2333
status     359
link        63
Name: count, dtype: int64